# Node.js dependency directory
node_modules
node_modules/
/node_modules
'node_modules'
'node_modules/'
'/node_modules'

# Compiled JavaScript files
lib/

# Logs
npm-debug.log*
*.log
*.env

# OS-specific files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Optional: IDE/editor settings
.vscode/
.idea/

serviceAccount.json